
.jumbotron {
     padding-top: 6rem; 
    background-color: rgb(255, 227, 151) ;
    /* #e2edff  */

}

#projects {
    background-color: rgb(255, 227, 151) ;
}

section {
    padding-top: 5rem;
}


